// fonts
$btn-font: "Rammetto One", cursive;
$font-family: "Roboto", sans-serif;
$title-font: "Spicy Rice", cursive;
$subtitle-font: "Staatliches", cursive;

// colours
$color-red: #e12c2c;
$color-yellow: #ffe100;
$color-white: #ffffff;

// break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
